@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&family=Duru+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    background-color: #000;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif ;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: 0.4s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn-primary {
    padding: 12px 24px;
    background-color: #EE8313;
    font-weight: 600;
}

.btn-secondary {
    padding: 12px 24px;
    color: #EE8313;
    border: 1px solid #EE8313;
    font-weight: 600;
    line-height: 26px;
}

.title-section {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-primary:hover {
    background-color: #b96b19;
}

/* Header */
#header-section {
    padding: 40px 0 107px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header-logo__img {
    width: 48px;
    height: 48px;
}

.nav-main {
    margin-left: auto;
}

.nav-main__list {
    display: flex;
    gap: 48px;
    margin-right: 72px;
}

.nav-main__item:hover {
    color: #EE8313;
}

/* Banner */

#banner-section {
    position: relative; 
    overflow: hidden;
    padding-bottom: 60px;
}

.banner {
    max-width: 475px;
    padding-top: 45px;
}

.banner__header {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
}

.banner__text {
    margin: 32px 0 48px;
    font-size: 17px;
    opacity: 0.8;
}

.banner-links-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
}

.banner-features {
    font-weight: 600;
    line-height: 24px;
}

.banner-features__text:first-child {
    margin-right: 40px;
}

.banner-features__text_strong {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-right: 16px;
    vertical-align: sub;
}

.banner-img {
    position: absolute;
    width: 60%;
    top: 20px;
    right: 0;
    height: 100%;
}

.banner-img::before {
    position: absolute;
    content: '';
    width: 96%;
    height: 100%;
    top: 0;
    right: 0;
    background: url(../img/car-red.png) no-repeat;
    z-index: 1;
}

.banner-img::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(52 52 52 / 30%);
    z-index: -2;
}

/* Rent */

#rent-section {
    padding: 120px 0 120px;
}

.rent-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.rent {
    position: relative;
    height: 524px;
    background: url(../img/Mask.png) 50%/cover no-repeat;
}

.rent:nth-child(2) {
    background-image: url(../img/Mask2.png);
}

.rent:nth-child(3) {
    background-image: url(../img/Mask3.png);
}

.rent:nth-child(4) {
    background-image: url(../img/Mask4.png);
}

.rent__name {
    position: absolute;
    top: 48px;
    left: 48px;
    font-size: 40px;
    letter-spacing: 0.6px;
    font-weight: 600;
}
.rent__link {
    position: absolute;
    bottom: 48px;
    right: 60px;
    font-size: 24px;
    letter-spacing: 0.6px;
    padding-right: 30px;
}

.rent__link:hover {
    color: #FFCC2C;
}

.rent__link::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    background: url(../img/arrow.png) 50%/cover;
}

/* Services */

#services-section {
    padding-bottom: 120px;
}

.services-section__title {
    margin-bottom: 66px;
    text-align: left;
}

.services-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.services__img {
    margin-bottom: 24px;
}

.services__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
}

.services__text {
    color: rgb(255 255 255 / 80%);
}

/* Destination */

#destination-section {
    padding-bottom: 162px;
}

.destination-section__title {
    width: 592px;
    margin: 0 auto 40px auto;
}

.destination-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.destination {
    background-color: #171717;
    border: 1px solid #171717;
}

.destination-info {
    padding: 24px;
}

.destination__title {
    font-size: 24px;
    line-height: 32px;
}

.destination__text {
    margin: 10px 0 25px;
    color: rgb(255 255 255 / 80%);
}

.destination__price {
    position: relative;
    display: block;
    margin-bottom: 17px;
    font-weight: 600;
    padding-left: 42px;
}

.destination__price::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    /* transform: translateX(-50%); */
    background: url(../img/Front\ Car.png) no-repeat;
}

.destination__link {
    color: #EF5E10;
}

/* Location */

#location-section {
    padding-bottom: 102px;
}

/* Footer */

#footer-section {
    padding-top: 40px;
    background-color: #1F1905;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}

.footer-logo-wrap {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 64px;
    font-weight: 600;
}

.footer-about__text {
    max-width: 235px;
    font-size: 18px;
    line-height: 32px;
}

.footer-nav-wrap {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 40px 100px 0 auto;
}

.footer-nav__header {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
}

.footer-nav__item {
    margin-bottom: 28px;
    line-height: 20px;
    color: rgb(255 255 255 / 80%);
}

.footer-nav__item:hover {
    color: #EE8313;
}

.footer-copyright {
    padding: 20px 0;
    background-color: #EE8313;
}

.footer-copyright {
    text-align: center;
}